@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #f4f6f8;
}

.dark {
  background: #121212;
  color: #fff;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-card {
  display: flex;
  width: 900px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.auth-left {
  flex: 1;
  padding: 40px;
}

.auth-right {
  flex: 1;
  background-image: url(image/login.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.auth-two {
  flex: 1;
  background-image: url(image/registration.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  display: flex;
  gap: 10px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #1d1f4b;
  color: white;
  border: none;
  cursor: pointer;
}

.checkbox {
  font-size: 14px;
}

.switch {
  margin-top: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #1d1f4b;
  color: white;
}

.controls {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.item-form {
  padding: 15px;
}

.inventory-list {
  list-style: none;
  padding: 15px;
}

.inventory-list li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
}

.dark .auth-card,
.dark .inventory-list li {
  background: #1e1e1e;
}

#logoutBtn {
  border: 1px solid white;
  font-size: 16px;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
